<h1>Listing items</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Quantity</th>
      <th>Borchure Price</th>
      <th>Total</th>
      <th>Discount</th>
      <th>Amount</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.description %></td>
        <td><%= item.quantity %></td>
        <td><%= item.price %></td>
        <td><%= item.total %></td>
        <td><%= item.discount %></td>
        <td><%= item.amount %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, :class => "btn btn-success btn-lg" %>
